.Component-login {
    height: 100%;
    width: 100%;
    background-color: #2da0cb;
    &-body {
        background-color: #fefefe;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 40px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 3px;
        width: 400px;
        box-shadow: 1px 1px 14px #376f84;
        .titel{
            margin-bottom: 20px;
            h1 {
                font-size: 40px;
                color: #686868;
                text-align: center;
                i {
                    font-size: 60px;
                }
            }
        }
       
        form {
            .field {
                margin: 5px;
                background-color: #e9ecf1;
                span {
                    padding: 5px 0 5px 10px;
                    color: #4b4b4b;
                    font-size: 18px;
                    vertical-align: middle;
                }
                input {
                    background-color: #e9ecf1;
                    border: none;
                    border-radius: 3px;
                    padding-left: 10px;
                    font-size: 13px;
                    outline: none !important;
                    box-shadow: none !important;
                    font-family: 'Khula', sans-serif !important;
                }
            }
            .btn-signIn {
                padding: 5px;
                button {
                    background-color: #15b8d4;
                    color: white;
                    font-size: 20px;
                    padding: 3px;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
        }

        a.resgister{
            font-family: 'Patua One', cursive;
            display: block;
            text-align: center;
            color: #676767;
            cursor: pointer;
        }
        p{
            font-size: 12px;
            padding-bottom: 0;
            margin-bottom: 0;
            font-family: 'Khula', sans-serif !important;
        }
        .icon{
            font-size: 30px;
            color: #595959;
            line-height: 0;
            position: absolute;
            right: 30px;
            bottom: 20px;
        }
    }
}
